<div class="product_starscore_container">
  <table>
    <tr>
      <th>コスパ</th><td><%= item_score(product.point_of_reasonability) %></td>
    </tr>
    <tr>
      <th>特徴的</th><td><%= item_score(product.point_of_impression) %></td>
    </tr>
    <tr>
      <th>味</th><td><%= item_score(product.point_of_taste) %></td>
    </tr>
    <tr>
      <th>リピート性</th><td><%= item_score(product.point_of_repeatability) %></td>
    </tr>
    <tr>
      <th>デザイン性</th><td><%= item_score(product.point_of_design) %></td>
    </tr>
  </table>
</div>
