<div class="account_edit_page">
  <div class="account_edit_error_messages"><%= render "devise/shared/error_messages", resource: resource %></div>
  <div class="account_edit_subtitle">アカウント設定変更</div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div>
      <%= f.label :email %><br>
      <%= f.email_field :email, autofocus: true %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <div>
      <%= f.label :new_password %> <br>(変更しない場合は空欄にしてください。)<br>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %><br>
        ※<%= @minimum_password_length %>文字以上で設定してください。
      <% end %>
    </div>
    <div>
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <div>
      <%= f.label :current_password %> (変更には現在のパスワードが必要です。)<br>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>
    <div>
      <%= f.submit "更新" %>
    </div>
  <% end %>
  <div class="account_delete_subtitle">アカウントの削除</div>
  <div>アカウントを削除しますか? <%= button_to "削除", registration_path(resource_name), data: { confirm: "本当にアカウントを削除しますか?", turbo_confirm: "本当にアカウントを削除しますか?" }, method: :delete, class: "account_delete_button" %></div>
</div>
