<div class="non_responsive_pages">
  <%= render "layouts/error_messages", model: @user %>
  <h2>プロフィール編集</h2>
  <div>
    <%= form_with model: @user, url: users_profile_update_path, method: :patch do |f| %>
      <div>
        <%= f.label :name %><br>
        <%= f.text_field :name, autofocus: true %>
      </div>
      <div>
        <%= f.label :profile %><br>
        <%= f.text_area :profile %>
      </div>
      <div>
        <%= f.label :image %><br>
        <% if current_user.image.present? %>
          <%= image_tag current_user.image.variant(resize: "60x60") %><br>
          <%= current_user.image.filename %>
        <% else %>
          <%= image_tag 'user_img.png', size: "60x60" %><br>
          user_img.png
        <% end %><br>
        <%= f.file_field :image %>
      </div>
      <div>
        <%= f.submit "更新" %>
      </div>
    <% end %>
  </div>
</div>
