<h2>アカウント情報編集</h2>

<%= form_with model: @user, url: users_account_update_path, method: :patch do |f| %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :profile %><br />
    <%= f.text_field :profile %>
  </div>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<%= link_to "戻る", :back %>