<h3>ユーザー情報</h3>

<% if user_signed_in? %>
  <div>
    <% if current_user.image.present? %>
      <%= image_tag current_user.image.variant(resize: "100x100") %>
    <% else %>
      <%= image_tag 'user_img.png', size: "100x100" %>
    <% end %>
  </div>
  <h4>名前：<%= current_user.name %></h4>
  <h4>メールアドレス：<%= current_user.email %></h4>
  <h4>プロフィール：<%= current_user.profile %></h4>
<% else %>
  <h2> 現在ログインしていません </h2>
<% end %>

<%= link_to "戻る", 'javascript:history.back()' %>
