<div class="mypage_user_section">
  <div class="mypage_user_image_container">
    <% if current_user.image.present? %>
      <%= image_tag current_user.image, class: "mypage_user_image" %>
    <% else %>
      <%= image_tag 'user_img.png', class: "mypage_user_image" %>
    <% end %>
  </div>
  <%= render "layouts/mypage_user_information" %>
</div>
<div class="mypage_product_index_message">登録商品一覧（<%= current_user.products.count.to_s %>件登録済）</div>
<% current_user.products.each do |product| %>
<div class="mypage_product_section">
  <div class="mypage_product_container">
    <div class="mypage_product_image_container">
      <div class="mypage_product_image_box">
        <%= link_to product do %>
          <%= image_tag product.image, class: "mypage_product_image" %>
        <% end %>
      </div>
      <div class="mypage_product_name_favorites">
        <div class="mypage_product_name"><%= product.name %></div>
        <div class="mypage_product_favorites">★イイね <%= amount_of_favorites_with_product(product.id) %></div>
      </div>
    </div>
    <div class="mypage_product_description">
      <%= product.description %>
    </div>
  </div>
  <div class="mypage_product_edit_delete_link">
    <div><%= button_to "編集", edit_product_path(product), method: :get %></div>
    <div><%= button_to "削除", product_path(product), method: :delete, data: { confirm: "本当に削除しますか?" } %></div>
  </div>
</div>
<% end %>
