<% if user_signed_in? %>
  <div>
    <% if current_user.image.present? %>
      <%= image_tag current_user.image.variant(resize: "100x100") %>
    <% else %>
      <%= image_tag 'user_img.png', size: "100x100" %>
    <% end %>
  </div>
  <p>ユーザー名：<%= current_user.name %></p>
  <p>メールアドレス：<%= current_user.email %></p>
  <p>プロフィール：<%= current_user.profile %></p>
  <p>ユーザーレベル（★いいね！獲得数）：<%= amount_of_favorites_with_user(current_user.id) %></p>
  <p>ユーザーランク：<%= user_rank(current_user.id) %></p>
  </br>
  <h4>登録商品一覧</h4>
  <% @user_products.each do |product| %>
    <div class="searched_container">
      <div class="searched_container_product_section">
        <div class="searched_container_product_image">
          <%= link_to product do %>
            <%= image_tag product.image.variant(resize: "100x100") %>
          <% end %>
        </div>
        <div class="searched_product_information">
          <p><%= product.name %>
          <span style="color:orange;">★<%= amount_of_favorites_with_product(product.id) %></span></p>
          <%= product.description %>
        </div>
        <div class="edit_delete_link">
          <div>
            <%= link_to "編集", edit_product_path(product) %>
          </div>
          <div>
            <%= button_to "削除", product, method: :delete %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <h2> 現在ログインしていません </h2>
<% end %>
