<h3>ユーザー情報</h3>

<% if user_signed_in? %>
  <div>
    <% if current_user.image.present? %>
      <%= image_tag current_user.image.variant(resize: "100x100") %>
    <% else %>
      <%= image_tag 'user_img.png', size: "100x100" %>
    <% end %>
  </div>
  <h4>名前：<%= current_user.name %></h4>
  <h4>メールアドレス：<%= current_user.email %></h4>
  <h4>プロフィール：<%= current_user.profile %></h4>
  <h4>★イイね！数：<%= amount_of_favorites_with_user(current_user.id) %></h4>
  </br>
  <h4>登録商品一覧</h4>
  <% @user_products.each do |product| %>
    <% if product.image.present? %>
      <%= link_to product do %>
      <% image_tag product.image.variant(resize: "100x100") %>
    <% end %>
    <% else %>
      <%= image_tag 'user_img.png', size: "100x100" %>
    <% end %>
    <%= product.name %>
  <% end %>
<% else %>
  <h2> 現在ログインしていません </h2>
<% end %>
</br>
<%= link_to "戻る", 'javascript:history.back()' %>
