<div class="password_reset_page">
  <div class="password_reset_subtitle">パスワードを再設定しますか?</div>
  ※再設定用のフォームを入力したメールアドレスに送信します。
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div>
      <%= f.label :email %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div>
      <%= f.submit "送信" %>
    </div>
  <% end %>
</div>
