<div class="searched_container_contributor_section">
  <% if product.user.image.present? %>
    <%= image_tag product.user.image, class: "searched_contributor_image" %>
  <% else %>
    <%= image_tag 'user_img.png', class: "searched_contributor_image" %>
  <% end %>
  <div class="searched_contributor_rank"><%= user_rank(product.user) %>(Lv.<%= amount_of_favorites_with_user(product.user) + 1 %>)</div>
  <div class="searched_contributor_name"><%= product.user.name %></div>
</div>