<div class="index_page">
  <div class="first_view_product_images_container">
    <% @random_products.limit(5).each do |product| %>
      <% if product.image.present? %>
        <%= link_to product do %>
          <% image_tag product.image.variant(resize: "100x100") %>
        <% end %>
      <% else %>
        <%= image_tag 'user_img.png', size: "100x100" %>
      <% end %>
    <% end %>
  </div>

  <!-- 登録内容確認用　あとで削除する　
  <div>
    <% @products.each do |product| %>
      <p><%= link_to "#{product.name}", product %></p>
    <% end %>
  </div>
  -->

  <div class="registration_container">
  <%= link_to "お気に入りの商品を登録する", new_product_path, class: "registration_new_product" %>
  </div>
  <!-- 不要？削除する<%= link_to "戻る", 'javascript:history.back()' %>-->
  <div class="search_product_container">
    商品を検索する
  </div>

  <!-- 関連づけテスト-->
  <p>↓ログイン中のユーザーが登録した商品名↓</p></br>
  <% @products.each do |product| %>
    <%= product.name %>
  <% end %>

</div>