<h1>〜商品開発チームのための<br class="firstview_title_br">情報共有ネットワーク〜</h1>
<% if user_signed_in? %>
  <div class="firstview_container">
    <div class="firstview_upper_container">
      <div>
        <%= image_tag "smartphone_photo_satsuei_man.png", size: "80x90" %>
      </div>
      <div>
        <%= link_to "商品情報を登録する", new_product_path, class: "firstview_registration_product_button" %>
      </div>
    </div>
    <%= render "layouts/firstview_middle_container", random_products: @random_products %>
    <%= render "layouts/firstview_lower_container" %>
  </div>
<% else %>
  <div class="firstview_registration_message">
    <p>
      <%= link_to "新規登録", new_user_registration_path %>または
      <%= link_to "ログイン", new_user_session_path %>して商品情報を登録しよう！
      <br class="firstview_message_br">ゲストログインは
      <%= link_to "こちら", users_guest_sign_in_path, method: :post, class: "login" %>!
    </p>
  </div>
  <div class="firstview_container">
    <div class="firstview_upper_container">
      <div>
        <%= image_tag "smartphone_photo_satsuei_man.png", size: "80x90" %>
      </div>
      <div class="firstview_loggedout_buttons_container">
        <div><%= link_to "新規登録", new_user_registration_path, class: "firstview_loggedout_buttons" %></div>
        <div><%= link_to "ログイン", new_user_session_path, class: "firstview_loggedout_buttons" %></div>
        <div><%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "firstview_loggedout_buttons" %></div>
      </div>
    </div>
    <%= render "layouts/firstview_middle_container", random_products: @random_products %>
    <%= render "layouts/firstview_lower_container" %>
  </div>
<% end %>

<!--以下、テストデータ削除用
<% @products.each do |product| %>
  <table>
    <tr>
      <td>
        <%= product.name %>
        <%= button_to "削除", product, method: :delete %>
        <% if product.image.present? %>
          <%= image_tag product.image.variant(resize: "100x100") %>
        <% else %>
          <%= image_tag 'user_img.png', size: "100x100" %>
        <% end %>
      </td>
    </tr>
  </table>
<% end %>-->
