<h1>〜商品開発チームのための<br class="firstview_title_br">情報共有ネットワーク〜</h1>
<% if user_signed_in? %>
  <div class="firstview_container">
    <div class="firstview_upper_container">
      <div>
        <%= image_tag "smartphone_photo_satsuei_man.png", size: "80x90" %>
      </div>
      <div>
        <%= link_to "商品情報を登録する", new_product_path, class: "firstview_registration_product_button" %>
      </div>
    </div>
    <%= render "layouts/index/firstview_middle_container", random_products: @random_products %>
    <%= render "layouts/index/firstview_lower_container" %>
  </div>
<% else %>
  <div class="firstview_registration_message">
    <p>
      <%= link_to "新規登録", new_user_registration_path %>または
      <%= link_to "ログイン", new_user_session_path %>して商品情報を登録しよう！
      <br class="firstview_message_br">ゲストログインは
      <%= link_to "こちら", users_guest_sign_in_path, method: :get, class: "login" %>!
    </p>
  </div>
  <div class="firstview_container">
    <div class="firstview_upper_container">
      <div>
        <%= image_tag "smartphone_photo_satsuei_man.png", size: "80x90" %>
      </div>
      <div class="firstview_loggedout_buttons_container">
        <div><%= link_to "新規登録", new_user_registration_path, class: "firstview_loggedout_buttons" %></div>
        <div><%= link_to "ログイン", new_user_session_path, class: "firstview_loggedout_buttons" %></div>
        <div><%= link_to "ゲストログイン", users_guest_sign_in_path, method: :get, class: "firstview_loggedout_buttons" %></div>
      </div>
    </div>
    <%= render "layouts/index/firstview_middle_container", random_products: @random_products %>
    <%= render "layouts/index/firstview_lower_container" %>
  </div>
<% end %>
