<h1>New Product</h1>

<%= form_with model: @product do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>

<%= link_to "戻る", 'javascript:history.back()' %>
