<div class="non_responsive_pages">
  <p>※は必須項目です</p>
  <h2>商品情報</h2>
  <%= form_with model: @product do |f| %>
    <div class="product_information">
      <div>
        <%= f.label :name, "商品名 ※" %><br>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.label :manufacturer, "製造メーカー ※" %><br>
        <%= f.text_field :manufacturer %>
      </div>
      <div>
        <%= f.label :prie, "円・価格（税込） ※" %><br>
        <%= f.number_field :price, min: 1, placeholder: "半角数字で入力" %>
      </div>
      <div>
        <%= f.label :category, "カテゴリー" %><br>
        <%= f.text_field :category, placeholder: "鍋つゆ、ドレッシング等"  %>
      </div>
      <div>
        <%= f.label :description, "商品の評価" %><br>
        <%= f.text_area :description, placeholder: "140文字以内" %>
      </div>
      <div>
        <%= f.label :image, "商品画像 ※" %><br/>
        <%= f.file_field :image %>
      </div>
      <div>
        <%= f.hidden_field :user_id, value: @user.id %>
      </div>
    </div>
    <div class="product_score">
      <br>
      <h2>商品の評価</h2>
      <div>
        <%= f.label :point_of_reasonability, "コスパ ※" %><br>
        <%= f.select :point_of_reasonability, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"]], include_blank: "選択してください" %>
      </div>
      <div>
        <%= f.label :point_of_impression, "特徴的 ※" %><br>
        <%= f.select :point_of_impression, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"]], include_blank: "選択してください" %>
      </div>
      <div>
        <%= f.label :point_of_taste, "味 ※" %><br>
        <%= f.select :point_of_taste, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"]], include_blank: "選択してください" %>
      </div>
      <div>
        <%= f.label :point_of_repeatability, "リピート性 ※" %><br>
        <%= f.select :point_of_repeatability, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"]], include_blank: "選択してください" %>
      </div>
      <div>
        <%= f.label :point_of_design, "デザイン性 ※" %><br>
        <%= f.select :point_of_design, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"]], include_blank: "選択してください" %>
      </div>
    </div>
    <div><br>
      <%= f.submit "登録する"%>
    </div>
  <% end %>
</div>
