<% if user_signed_in? %>
  <% @searched_products.each do |product| %>
    <% if product.image.present? %>
      <%= link_to product do %>
        <% image_tag product.image.variant(resize: "100x100") %>
      <% end %>
    <% else %>
      <%= image_tag 'user_img.png', size: "100x100" %>
    <% end %>
    <%= product.name %>
    <%= product.description %>
    </br>
  <% end %>
<% else %>
  <p>商品詳細情報を確認するには<span><%= link_to "新規登録", new_user_registration_path %></span>または<span><%= link_to "ログイン", new_user_session_path %></span>が必要です。</p>
  </br>
  <% @searched_products.each do |product| %>
    <% if product.image.present? %>
      <%= image_tag product.image.variant(resize: "100x100") %>
    <% else %>
    <%= image_tag 'user_img.png', size: "100x100" %>
    <% end %>
    <%= product.name %>
    </br>
  <% end %>
<% end %>
