<% if user_signed_in? %>
  <% @searched_products.each do |product| %>
    <div class="searched_container">
      <div class="searched_container_product_section">
        <div class="searched_product_container">
          <%= link_to product do %>
            <%= image_tag product.image, class: "searched_product_image" %>
          <% end %>
          <%= render "layouts/search/product_information", product: product %>
        </div>
        <div class="searched_product_description"><%= product.description %></div>
      </div>
      <%= render "layouts/search/searched_contributor", product: product %>
    </div>
  <% end %>
<% else %>
  <div class="registration_container">
    <p>
      <%= link_to "新規登録", new_user_registration_path %>または
      <%= link_to "ログイン", new_user_session_path %>して商品情報を確認しよう！
    </p>
  </div>
  <% @searched_products.each do |product| %>
  <div class="searched_container">
    <div class="searched_container_product_section">
      <div class="searched_product_container">
        <%= image_tag product.image, class: "searched_product_image" %>
        <%= render "layouts/search/product_information", product: product %>
      </div>
    </div>
    <%= render "layouts/search/searched_contributor", product: product %>
  </div>
  <% end %>
<% end %>
