<div class="product_container">
  <div class="product_info_container">
    <div class="product_image_container">
      <div>
        <%= image_tag @product.image, class: "product_image" %>
      </div>
      <div id="favorite_buttons_<%= @product.id %>">
        <%= render "favorites/favorite", product: @product %>
      </div>
    </div>
    <%= render "layouts/product_details", product: @product %>
  </div>
  <div class="product_score_container">
    <%= render "layouts/product_score", product: @product %>
    <%= render "layouts/product_raderchart" %>
  </div>
</div>
<div class="contributor_container">
  <div class="contributor_description">
    <div class="contributor_description_contents">
      <%= @product.description %>
    </div>
  </div>
  <div class="contributor_infomation">
    <div class="contributor_user_rank"><%= user_rank(@product.user) %>(Lv.<%= amount_of_favorites_with_user(@product.user) + 1 %>)</div>
    <div class="contributor_name"><%= @product.user.name %></div>
    <div><%= image_tag @product.user.image, class: "contributor_image" %></div>
  </div>
</div>
<div class="rakuten_api">
  ⇩楽天市場で商品を探す⇩
  <% if @items.present? %>
    <%= render 'layouts/item' %>
  <% end %>
</div>
