<div class="product_container">
  <div class="product_info_container">
    <div class="product_image_container">
      <div class="product_image">
        <%= image_tag @product.image.variant(resize: "100x100") %>
      </div>
      <div id="favorite_buttons_<%= @product.id %>">
        <%= render "favorites/favorite", product: @product %>
      </div>
    </div>

    <div class="product_detail_container">
      <table>
        <tr>
          <td style="font-size: 18px; font-weight: 600;"><%= @product.name %></td>
        </tr>
        <tr>
          <td style="font-size: 12px;"><%= @product.manufacturer %></td>
        </tr>
        <tr>
          <td style="font-size: 16px; font-weight: 500;">¥<%= @product.price %>（税込）</td>
        </tr>
        <tr>
          <td style="font-size: 12px;">カテゴリ：<%= @product.category %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="product_score_container">
    <div class="product_starscore_container">
      <table>
        <tr>
          <th>コスパ</th><td><%= item_score(@product.point_of_reasonability) %></td>
        </tr>
        <tr>
          <th>特徴的</th><td><%= item_score(@product.point_of_impression) %></td>
        </tr>
        <tr>
          <th>味</th><td><%= item_score(@product.point_of_taste) %></td>
        </tr>
        <tr>
          <th>リピート性</th><td><%= item_score(@product.point_of_repeatability) %></td>
        </tr>
        <tr>
          <th>デザイン性</th><td><%= item_score(@product.point_of_design) %></td>
        </tr>
      </table>
    </div>
    
    <div class="product_raderchart_container">
      <canvas id="myChart"></canvas>
      <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script>
        var reasonability = gon.reasonability;
        var impression = gon.impression;
        var taste = gon.taste;
        var repeatability = gon.repeatability;
        var design = gon.design;
        var ctx = document.getElementById('myChart');
        var myChart = new Chart(ctx, {
          type: 'radar',
          data: {
            labels: ['コスパ', '特徴', '味', 'リピート', 'デザイン'],
            datasets: [{
                label: '# of Votes',
                data: [reasonability, impression, taste, repeatability, design],
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
          },
          options: {
            scales: {
              r: {
                max: 5,
                min: 0,
                ticks: {
                  stepSize: 1,
                  display: false
                }
              }
            },
            plugins: {
              legend: {
                display: false
              }
            }
          }
      });
      </script>
    </div>
  </div>
</div>

<div class="contributor_container">
  <div class="contributor_description">
    <div class="contributor_description_contents">
      <%= @product.description %>
    </div>
  </div>
  <div class="contributor">
    <div><%= user_rank(@contributor) %></div>
    <div><%= @contributor.name %></div>
    <div><%= image_tag @contributor.image.variant(resize: "100x100") %></div>
  </div>
</div>

<!--以下楽天APIテスト-->
<h4>楽天市場で商品を探す</h4>
<% if @items.present? %>
  <%= render 'layouts/item' %>
<% end %>
