<div class="mypage_user_information_container">
  <div>ユーザー名：<%= current_user.name %></div>
  <div>メールアドレス：<%= current_user.email %></div>
  <div>プロフィール：<%= current_user.profile %></div>
  <div>ユーザーレベル（★いいね！獲得数）：<%= amount_of_favorites_with_user(current_user.id) %></div>
  <div>ユーザーランク：<%= user_rank(current_user.id) %></div>
</div>